Repository shopware/meteor, pull requests merged in 2024-05, with the labels that each got.

#161 NEXT-35973 - Allow getting user's timezone
  .changeset/soft-years-hope.md
  docs/admin-sdk/docs/guide/2_api-reference/context.md
  packages/admin-sdk/src/context/index.ts
  packages/admin-sdk/src/message-types.ts
Labels: package: admin-sdk

#164 NTR - Updated context.md
  docs/admin-sdk/docs/guide/2_api-reference/context.md
Labels: documentation

#156 NEXT-35651 - add tokens to switch component
  .changeset/chatty-horses-notice.md
  packages/component-library/src/components/form/mt-switch/mt-switch.vue
Labels: package: components

#165 NTR - Fix tooltip placement
  .changeset/nine-eagles-wonder.md
  packages/component-library/src/directives/tooltip.directive.ts
Labels: package: components

#201 NTR - Fix tag deletion is not working on the Safari browser
  .changeset/pretty-adults-grab.md
  packages/component-library/src/components/_internal/mt-label.vue
  packages/component-library/src/components/form/_internal/mt-select-base/_internal/mt-select-selection-list.vue
Labels: package: components
