Repository shopware/meteor, pull requests merged in 2024-04, with the labels that each got.

#99 <SwDataTable /> component now passes the value for the open-details a…
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.interactive.stories.ts
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.stories.ts
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.vue
Labels: enhancement, good first issue 👋, package: components

#143 PS-224 - Update and build globally mt-empty-state
  .changeset/great-flowers-study.md
  packages/component-library/__snapshots__/interaction-tests-layout-mt-empty-state--visual-test-default-page-snap.png
  packages/component-library/__snapshots__/interaction-tests-layout-mt-empty-state--visual-test-extended-page-snap.png
  packages/component-library/__snapshots__/interaction-tests-table-and-list-mt-data-table--visual-test-render-empty-state-snap.png
  packages/component-library/src/components/layout/mt-empty-state/mt-empty-state.interactive.stories.ts
  packages/component-library/src/components/layout/mt-empty-state/mt-empty-state.spec.ts
  packages/component-library/src/components/layout/mt-empty-state/mt-empty-state.stories.ts
  packages/component-library/src/components/layout/mt-empty-state/mt-empty-state.vue
  packages/component-library/src/index.ts
Labels: package: components

#147 NTR - Use ViteJS CSS preprocessor option
  packages/component-library/src/components/_internal/mt-floating-ui/mt-floating-ui.vue
  packages/component-library/src/components/_internal/mt-highlight-text.vue
  packages/component-library/src/components/_internal/mt-label.vue
  packages/component-library/src/components/context-menu/mt-context-button/mt-context-button.vue
  packages/component-library/src/components/context-menu/mt-context-menu-divider/mt-context-menu-divider.vue
  packages/component-library/src/components/feedback-indicator/mt-banner/mt-banner.vue
  packages/component-library/src/components/feedback-indicator/mt-color-badge/mt-color-badge.vue
  packages/component-library/src/components/feedback-indicator/mt-loader/mt-loader.vue
  packages/component-library/src/components/feedback-indicator/mt-progress-bar/mt-progress-bar.vue
  packages/component-library/src/components/feedback-indicator/mt-skeleton-bar/mt-skeleton-bar.vue
  packages/component-library/src/components/feedback-indicator/mt-toast/mt-toast-notification.vue
  packages/component-library/src/components/feedback-indicator/mt-toast/mt-toast.vue
  packages/component-library/src/components/form/_internal/mt-base-field/mt-base-field.vue
  packages/component-library/src/components/form/_internal/mt-field-error/mt-field-error.vue
  packages/component-library/src/components/form/_internal/mt-select-base/_internal/mt-select-result.vue
  packages/component-library/src/components/form/_internal/mt-select-base/mt-select-base.vue
  packages/component-library/src/components/form/mt-button/mt-button.vue
  packages/component-library/src/components/form/mt-checkbox/mt-checkbox.vue
  packages/component-library/src/components/form/mt-colorpicker/mt-colorpicker.vue
  packages/component-library/src/components/form/mt-datepicker/mt-datepicker.vue
  packages/component-library/src/components/form/mt-external-link/mt-external-link.vue
  packages/component-library/src/components/form/mt-help-text/mt-help-text.vue
  packages/component-library/src/components/form/mt-number-field/mt-number-field.vue
  packages/component-library/src/components/form/mt-switch/mt-switch.vue
  packages/component-library/src/components/form/mt-textarea/mt-textarea.vue
  packages/component-library/src/components/icons-media/mt-avatar/mt-avatar.vue
  packages/component-library/src/components/icons-media/mt-icon/mt-icon.vue
  packages/component-library/src/components/layout/mt-empty-state/mt-empty-state.vue
  packages/component-library/src/components/navigation/mt-search/mt-search.vue
  packages/component-library/src/components/navigation/mt-segmented-control/mt-segmented-control.vue
  packages/component-library/src/components/navigation/mt-tabs/mt-tabs.vue
  packages/component-library/src/components/overlay/mt-popover-item-result/mt-popover-item-result.vue
  packages/component-library/src/components/overlay/mt-popover-item/mt-popover-item.vue
  packages/component-library/src/components/overlay/mt-popover/mt-popover.vue
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.vue
  packages/component-library/src/components/table-and-list/mt-data-table/renderer/mt-data-table-text-renderer.vue
  packages/component-library/src/components/table-and-list/mt-data-table/sub-components/mt-data-table-filter/mt-data-table-filter.vue
  packages/component-library/src/components/table-and-list/mt-data-table/sub-components/mt-data-table-settings/mt-data-table-settings.vue
  packages/component-library/src/components/table-and-list/mt-pagination/mt-pagination.vue
  packages/component-library/vite.config.ts
Labels: package: components

#138 Add a prop to remove settings table button in the header
  .changeset/rude-rats-fail.md
  packages/component-library/__snapshots__/interaction-tests-table-and-list-mt-data-table--visual-test-should-hide-the-last-column-with-via-disable-context-menu-and-settings-table-snap.png
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.interactive.stories.ts
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.spec.ts
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.stories.ts
  packages/component-library/src/components/table-and-list/mt-data-table/mt-data-table.vue
Labels: enhancement
