Repository shopware/meteor, pull requests merged in 2025-05, with the labels that each got.

#675 Fix: multiple select handling
  .changeset/fast-dodos-breathe.md
  packages/component-library/__snapshots__/interaction-tests-form-mt-select--visual-test-multi-select-with-initial-value-snap.png
  packages/component-library/src/components/form/mt-select/mt-select.interactive.stories.ts
  packages/component-library/src/components/form/mt-select/mt-select.vue
Labels: package: components

#723 feat: add useRepository composable
  docs/admin-sdk/docs/guide/2_api-reference/composables/useRepository.md
  packages/admin-sdk/src/data/composables/index.ts
  packages/admin-sdk/src/data/composables/useRepository.spec.ts
  packages/admin-sdk/src/data/composables/useRepository.ts
  packages/admin-sdk/src/data/repository-adapter.spec.ts
  packages/admin-sdk/src/data/repository-adapter.ts
  packages/admin-sdk/src/data/repository.ts
Labels: package: admin-sdk

#735 feat: add option as value in the mt-select
  packages/component-library/__snapshots__/interaction-tests-form-mt-select--visual-test-multi-select-option-as-value-snap.png
  packages/component-library/__snapshots__/interaction-tests-form-mt-select--visual-test-single-selection-option-as-value-snap.png
  packages/component-library/src/components/form/mt-select/mt-select.interactive.stories.ts
  packages/component-library/src/components/form/mt-select/mt-select.vue
Labels: package: components, component/administration, domain/framework
